@import "../global.scss";

footer {
    background-color: $black;
}

.footer {
    background-color: $grey;
    border-radius: 0.5rem;
    margin: 2rem;
    margin-bottom: 0;
    padding: 2rem 1rem 0.5rem 1rem;
    text-align: center;

    img {
        width: 12rem;
    }

    &__menu {
        display: flex;
        justify-content: center;
        padding: 1rem 0;

        &__item {
            margin: 0 2rem;
            text-decoration: none;
            font-family: $headingfont;
            color: $lightgrey;
            font-weight: 600;
            font-size: 0.9rem;
        }

        &__item:hover {
            color: $white;
            transition: 0.2s ease-out;
            -webkit-transition: 0.2s ease-out;
            -moz-transition: 0.2s ease-out;
            -ms-transition: 0.2s ease-out;
            -o-transition: 0.2s ease-out;
        }

        @media (max-width: 576px) {
            display: none;
        }
    }

    &__divider {
        height: 1.5px;
        width: 60%;
        margin: auto;
        background-color: $blue;
        border-radius: 1px;

        @media (max-width: 576px) {
            margin: 0.75rem auto;
        }
    }

    &__contact {
        font-weight: 300;
        font-size: 0.9rem;
        padding: 0.5rem 0;
        color: $lightgrey;

        p {
            margin: 0.25rem;

            a {
                color: $blue;
                text-decoration: none;

                @media (max-width: 576px) {
                    display: block;
                }
            }
        }

        &__details {
            a {
                color: $blue;
                text-decoration: none;
                transition: 0.3s ease-out;

                &:hover {
                    color: $white;
                }
            }

            span {
                margin: 0 0.25rem;
                color: $blue;
            }
        }
    }

    &__social {
        padding: 0.5rem 0;

        a {
            padding: 0.25rem;
            margin: 0.25rem;
            text-decoration: none;

            &:hover {
                i {
                    color: $white;
                }
            }

            i {
                color: $blue;
                font-size: 0.9rem;
                transition: 0.3s ease-out;
            }
        }
    }

    &__copy {
        display: flex;
        justify-content: center;
        margin: 0.5rem 0;
        align-items: center;

        p,
        a {
            color: $lightgrey;
            font-weight: 300;
            font-size: 0.7rem;
            text-align: center;
            text-decoration: none;
            transition: 0.3s ease-out;
            margin: 0;
        }

        a:hover {
            color: $blue;
        }

        span {
            margin: 0 0.5rem;
        }
    }

    @media (max-width: 576px) {
        margin: 2rem 1rem 0 1rem;
    }
}