@import "../global.scss";

.section {
    padding-bottom: 4rem;

    &__skew {
        width: 100%;
        height: 10rem;
        background-color: transparent;
        // overflow: hidden;
        position: relative;
    }

    &--light {
        background-color: $grey;

        .section__skew__inner {
            background-color: $black;
        }
    }

    &__heading {
        text-align: center;
        padding: 4rem 0 3rem 0;
        text-align: center;

        h1 {
            color: $blue;
            letter-spacing: 1px;
            margin: 0;
            font-size: 2.5rem;
            font-weight: 600;
        }

        h5 {
            margin-top: 1rem;
            color: $white;
            font-family: $headingfont;
            font-weight: 400;
            font-size: 1.1rem;
            padding: 0 10%;
        }
    }

    &.section--simple {
        .section__heading {
            padding-bottom: 0;
        }
    }
}
