@import "../global.scss";

.tech-stack {
    &__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 1rem;
        transition: 1s ease-in;
        padding: 0.5rem 0;

        i {
            font-size: 1.6rem;
            color: $white;
            opacity: 0.7;
            transition: 0.3s ease-in;
            padding: 0.25rem;
            margin: 0 0.5rem;
            opacity: 0.6;

            &:hover {
                opacity: 1;
            }
        }
    }
}