@import "../global.scss";

.contact {
    display: flex;

    p {
        color: white;
        font-family: $headingfont;
    }

    &__form {
        width: 60%;
        box-sizing: border-box;
        background-color: $grey;
        padding: 4rem 2rem 4rem 2rem;

        h1 {
            font-size: 1.5rem;
            font-weight: 500;
            color: white;

            span {
                color: $blue;
            }
        }

        button {
            background-color: transparent;
            border: 2px solid $blue;
            border-radius: 0.5rem;
            display: block;
            padding: 0.5rem 2rem;
            color: $white;
            text-transform: uppercase;
            text-decoration: none;
            font-family: $headingfont;
            font-size: 0.8rem;
            float: right;
            margin-top: 1.5rem;
            cursor: pointer;
            font-weight: 500;

            &:hover {
                background-color: $blue;
                font-weight: 600;
            }
        }

        &__group {
            display: flex;
            flex-direction: column-reverse;
            margin-top: 1rem;

            label {
                opacity: 0;
                transition: 0.3s ease-out;
                color: $white;
            }

            textarea {
                height: 7rem;
                font-family: $mainfont;
            }

            input,
            textarea {
                background-color: transparent;
                padding: 1rem 0;
                border: none;
                outline: none;
                color: white;
                transition: 0.3s ease-out;
                border-bottom: 2px solid $lightgrey;
                resize: none;

                &::placeholder {
                    font-size: 1rem;
                }

                &:focus {
                    font-size: 1.2rem;
                    color: $blue;
                    border-color: $white;
                    padding: 1rem 0;

                    &::placeholder {
                        color: transparent;
                    }

                    & + label {
                        opacity: 1;
                        padding-top: 1rem;
                    }
                }
            }
        }
    }

    &__details {
        width: 40%;
        padding: 2rem 1rem 2rem 3rem;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        > div {
            padding-bottom: 1rem;
        }

        &__info {
            display: flex;
            flex-direction: column;

            a,
            p:last-child {
                font-size: 0.9rem;
                margin: 0.2rem 0;
                color: $lightgrey;
                text-decoration: none;
            }

            p {
                font-size: 1rem;
            }
        }

        &__social {
            a {
                margin-right: 0.6rem;
                text-decoration: none;

                i {
                    color: $blue;
                    transition: 0.3s ease-out;
                }

                &:hover {
                    i {
                        color: $white;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        flex-direction: column-reverse;

        &__form {
            width: 100%;
            padding: 4rem 2rem;
        }

        &__details {
            width: 100%;
            padding: 4rem 2rem;
        }
    }
}
