@import "../global.scss";

.home {
    .section-projects {
        &__grid {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding-bottom: 4rem;
            row-gap: 1rem;

            .project-block {
                width: 40%;

                @media (max-width: 991px) {
                    width: 45%;
                }

                @media (max-width: 768px) {
                    width: 80%;
                    margin: 0 !important;
                }

                @media (max-width: 576px) {
                    width: 100%;
                }
            }

            .project-block:nth-child(even) {
                margin-top: 3rem;
            }

            .project-block:nth-child(odd) {
                margin-bottom: 3rem;
            }

            .project-block:last-child {
                justify-self: flex-start;
            }

            @media (max-width: 768px) {
                row-gap: 3rem;
            }
        }
    }

    .section-clients {
        &__grid {
            display: flex;
            padding: 0 10%;
            gap: 1rem;
            justify-content: space-around;
            flex-wrap: wrap;

            .client__logo {
                box-sizing: border-box;
                padding: 0.5rem;
                width: 20%;
                opacity: 0.6;
                transition: 0.3s ease-out;

                &:hover {
                    transform: scale(1.025);
                    opacity: 1;
                }

                @media (max-width: 768px) {
                    width: 30%;
                }

                @media (max-width: 576px) {
                    width: 45%;
                }
            }

            @media (max-width: 991px) {
                padding: 0;
            }

            @media (max-width: 576px) {
                justify-content: space-between;
            }
        }
    }

    //
    .section-services {
        &__grid {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-bottom: 2rem;

            .content-block {
                width: 47.5%;

                .button {
                    margin-top: 1.5rem;
                    float: right;

                    a {
                        text-transform: none;
                    }
                }

                @media (max-width: 768px) {
                    width: 100%;
                }
            }

            @media (max-width: 768px) {
                row-gap: 2rem;
            }
        }
    }

    .section-feedback {
        @media (max-width: 576px) {
            .container {
                padding: 0 1rem;
            }
        }
    }

    .section-ready {
        text-align: center;
    }
}
