@import "../global.scss";

.services {
    &__section-development {
        &__grid {
            display: flex;
            flex-wrap: wrap;
            row-gap: 2rem;
            justify-content: space-between;
            box-sizing: border-box;

            .content-block {
                width: 47.5%;

                @media (max-width: 768px) {
                    width: 100%;
                }
            }
        }
    }

    .view-work {
        text-align: center;
        padding-top: 2rem;

        h4 {
            font-weight: 600;
            color: $blue;
            font-size: 1.2rem;
        }
    }

    &__section-design {
        &__grid {
            display: flex;
            justify-content: space-between;
            padding: 2rem 0;
            flex-wrap: wrap;
            row-gap: 2rem;

            .content-block {
                width: 47.5%;

                @media (max-width: 768px) {
                    width: 100%;
                }
            }
        }
    }
}
