// Variables

$blue: #0061f0;
$black: #151618;
$grey: #1b1d1f;
$lightgrey: #99a1a6;
$white: #ffffff;
$headingfont: Nunito,
Tahoma,
Geneva,
sans-serif;
$mainfont: "Nunito Sans",
Tahoma,
Geneva,
sans-serif;

html,
body {
    background-color: $black;
    font-family: $mainfont;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    color: $lightgrey;
}

body {
    position: relative;
}

::-webkit-scrollbar {
    width: 6px;

    &-track {
        background: $black;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
    }

    &-thumb {
        background: $blue;
        border-radius: 1rem;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
    }

    &-thumb:hover {
        background: $white;
    }
}


// Button

.button {
    background-color: transparent;
    border: 2px solid $blue;
    border-radius: 0.5rem;

    a {
        display: block;
        padding: 0.5rem 1rem;
        color: $white;
        text-transform: uppercase;
        text-decoration: none;
        font-family: $headingfont;
        font-size: 0.8rem;
    }

    &:hover {
        background-color: $blue;
        transition: 0.3s ease-out;

        a {
            font-weight: 600;
        }
    }
}