// Variables

$blue: #0061f0;
$black: #151618;
$grey: #1b1d1f;
$bluegrey: #99a1a6;
$white: #ffffff;
$heading-font: "Nunito, Tahoma, Geneva, sans-serif";
$main-font: "Open Sans, Tahoma, Geneva, sans-serif";

html,
body {
    background-color: $black;
    font-family: $main-font;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}