@import "../global.scss";

.project {
    .test {
        position: relative;
        top: -15rem;
        background-color: $grey;
        img {
            width: 50%;
            display: block;
            margin: auto;
        }
    }

    .section-details {
        .grid {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            &__intro {
                width: 47.5%;
                padding-right: 3rem;
                box-sizing: border-box;

                &__name {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.5rem;

                    h1 {
                        color: $white;
                        font-family: $headingfont;
                        font-weight: 600;
                        margin: 0;
                        letter-spacing: 1px;
                    }

                    img {
                        width: 1.5rem;
                        margin-right: 0.75rem;
                    }
                }

                h4 {
                    color: $blue;
                    font-weight: 600;
                    margin: 0.25rem 0 0 0;
                    font-size: 0.9rem;
                    margin: 0;
                    margin-bottom: 1rem;
                }

                p {
                    font-size: 0.9rem;
                    color: $white;
                    margin: 0;
                    margin-bottom: 2rem;
                    line-height: 1.5;
                    white-space: pre-wrap;
                }

                &__link-design {
                    margin-left: 1rem;
                }
            }

            &__details {
                width: 47.5%;
                background-color: $grey;
                border-radius: 0.5rem;
                padding: 1rem 2rem;
                box-sizing: border-box;

                &__row {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid $lightgrey;
                    padding: 0.75rem 0;

                    h5 {
                        color: $white;
                        font-family: $headingfont;
                        margin: 0;
                        font-weight: 500;
                        font-size: 1rem;
                    }

                    p {
                        margin: 0;
                        line-height: 1.5;
                    }

                    &.row--tools {
                        flex-direction: column;
                        border-bottom: none;

                        h5 {
                            margin-bottom: 0.5rem;
                        }
                    }
                }
            }

            @media (max-width: 768px) {
                flex-wrap: wrap;
                row-gap: 3rem;

                &__intro {
                    width: 100%;
                    text-align: center;
                    padding: 0;

                    &__name {
                        justify-content: center;
                    }
                }

                &__details {
                    width: 100%;
                }
            }
        }
    }
}
